<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
    <th:block th:fragment="scripts">
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const authTypeList = document.getElementById('authType');
                const regModeList = document.getElementById('regMode');
                const registrationModes = {
                    'ID_ONLY_REGISTRATION': ['INDIVIDUAL'],
                    'REQUIRED_REGISTRATION': ['INDIVIDUAL', 'HOUSEHOLD'],
                    'OPTIONAL_REGISTRATION': ['INDIVIDUAL', 'HOUSEHOLD'],
                    'NO_REGISTRATION': []
                };

                authTypeList.addEventListener('change', function () {
                    const selectedAuthType = authTypeList.value;
                    const modes = registrationModes[selectedAuthType] || [];

                    regModeList.innerHTML = '';

                    modes.forEach(function (mode) {
                        const option = document.createElement('option');
                        option.value = mode;
                        option.text = mode;
                        regModeList.appendChild(option);
                    });
                });
            })
        </script>
    </th:block>
</html>